<app-pre-loader *ngIf="showPreloader"></app-pre-loader>

<div class="main">
  <header>
    <nav class="navbar">
      <div class="greetings">{{ greetings }}</div>
    </nav>
  </header>
  <main>
    <div class="main-body">
      <div class="profile-container grid">
        <div class="profile-data">
          <div class="profile-border">
            <div class="profile-perfil">
              <img src="../assets/profile.jpg" alt="profile-picture" />
            </div>
          </div>

          <h3 class="profile-name">
            I'm
            <h2>Anish Nepal</h2>
          </h3>
          <h3 class="profile-profession">Frontend Developer</h3>
          <ul class="profile-social">
            <a href="https://github.com/annesnepal" class="profile-social-link"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/annesnepal/"
              class="profile-social-link"
            >
              <i class="fa-brands fa-linkedin"></i
            ></a>
            <a
              href="https://api.whatsapp.com/send?phone=9779862078737"
              class="profile-social-link"
              ><i class="fa-brands fa-whatsapp"></i
            ></a>
          </ul>
          <div class="profile-button">
            <a
              href="https://drive.google.com/uc?export=download&id=1RQxCqM0H27WkRN3ZnXy58olMYzqgkxNB"
              class="button"
            >
              Download CV <i class="fa-solid fa-download"></i>
            </a>
          </div>
          <section class="filters-container">
            <ul class="filters-content">
              <button
                class="filters-button"
                data-target="projects"
                [class.filters-active]="activeFilter === 'projects'"
                (click)="setActiveFilter('projects')"
              >
                Projects
              </button>
              <button
                class="filters-button"
                data-target="skills"
                [class.filters-active]="activeFilter === 'skills'"
                (click)="setActiveFilter('skills')"
              >
                Skills
              </button>
            </ul>
            <div class="filters-section">
              <!-- projects -->
              <div
                class="projects-content grid"
                [attr.data-content]="'projects'"
                id="projects"
                *ngIf="activeFilter === 'projects'"
              >
                <article class="project-cards">
                  <img
                    src="../assets/project.png"
                    alt=""
                    class="projects-img"
                  />
                  <div class="projects-modal">
                    <div>
                      <span class="projects-subtitle"
                        >Angular Web Application</span
                      >
                      <h3 class="projects-title">Muna Evelation</h3>
                      <a
                        href="https://munaevelation.com.np/"
                        class="projects-button button button-small"
                        ><i class="fa-solid fa-link"></i
                      ></a>
                    </div>
                  </div>
                </article>
              </div>
              <!-- skills-->
              <div
                class="skills-content grid"
                [attr.data-content]="'skills'"
                id="skills"
                *ngIf="activeFilter === 'skills'"
              >
                <div class="skills-box">
                  <div class="skills-group">
                    <div class="skills-data html">
                      <i class="fa-brands fa-html5"></i>
                    </div>
                    <div class="skills-data css">
                      <i class="fa-brands fa-css3-alt"></i>
                    </div>

                    <div class="skills-data bootstrap">
                      <i class="fa-brands fa-bootstrap"></i>
                    </div>
                    <div class="skills-data tailwind">
                      <svg
                        style="color: rgb(139, 181, 206)"
                        role="img"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <title>Tailwind CSS</title>
                        <path
                          d="M12.001,4.8c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 C13.666,10.618,15.027,12,18.001,12c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C16.337,6.182,14.976,4.8,12.001,4.8z M6.001,12c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 c1.177,1.194,2.538,2.576,5.512,2.576c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C10.337,13.382,8.976,12,6.001,12z"
                          fill="blue"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <div class="skills-group">
                    <div class="skills-data js">
                      <i class="fa-brands fa-js"></i>
                    </div>
                    <div class="skills-data angular">
                      <i class="fa-brands fa-angular"></i>
                    </div>
                    <div class="skills-data react">
                      <i class="fa-brands fa-react"></i>
                    </div>
                    <div class="skills-data python">
                      <i class="fa-brands fa-python"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer container">
    <div class="footer__copy">&#169; Anish Nepal 2023. All rights reserved</div>
  </footer>
</div>
